@import url(./root.css);
.firstscreen{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 463px;
    padding-top: 160px;
}
.firstscreen__big{
    height: 609px;
}
.firstscreen__bg{
    background: linear-gradient(180deg, rgba(10, 22, 41, 0.85) -7.39%, rgba(24, 44, 77, 0) 169.05%);
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.firstscreen__bred,
.firstscreen__bred a{
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #FFFFFF;

}
.firstscreen__title h1{
    font-weight: 800;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: 0.015em;
    font-feature-settings: 'swsh' on;
    color: #FFFFFF;
}
.firstscreen .container{
    position: relative;
    z-index: 2;
}
.bred__space{
    padding: 0 12px;
}
.firstscreen .firstscreen__title{
   margin-top: 43px;
}
.firstscreen__big .firstscreen__title{
    margin-top: 93px;
 }
.medicationCont__blockSuber{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.firstscreen__btn a {
    padding: 18px 22px;
    background: #F5D7BE;
    font-weight: bold;
    font-size: 18px;
    line-height: 149.9%;
    color: #182C4D;
    
}
.firstscreen__btn {
    margin-top: 35px;
}
.firstscreen__desc{
    font-size: 16px;
    line-height: 24px;
    color:white;
    padding-top: 30px;
}

.firstscreen__desc p:not(:last-child){
    margin-bottom: 10px;
    max-width: 890px;
}
.restarAbout__pic{
    width: 100%;
    background-size: cover;
    background-position: center;
}
.restarAbout__rightPic{
    height: 715px;
}

.restarAbout__txt{
    font-size: 16px;
    line-height: 24px;
    padding-top: 50px;
}
.restarAbout__txt p:not(:last-child){
    margin-bottom: 10px;
}
.restarAbout{
    padding-top: 78px;
}
.restarAbout__txtPic{
    height: 625px;
    margin-top: 70px;
}


/* restarMenu */

.restarMenu{
    margin-top: 50px;
}
.faq__cont{
    position: relative;
}
.faq__blockTop{
    display: flex;
    justify-content: space-between;
    padding: 26px 0px;
    padding-left: 15px;
    cursor: pointer;
    align-items: center;
}
.faq__blockTop h3{
    font-size: 27px;
    line-height: 40px;
    letter-spacing: 0.015em;
    font-feature-settings: 'swsh' on;
}

.faq__block{
    border-bottom: 1px solid #807468;
}
.faq__block:not(:last-child){
    margin-bottom: 20px;
}
.faq__blockDesc p{
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    max-width: 90%;
    padding-left: 20px;
    padding-top: 10px;
}
.faq__bg {
    position: absolute;
    bottom: -45px;
    right: -30px;
}
.faq__blockDesc{
    overflow: hidden;
    height: 0;
    transition-duration: 0.3s;
}

.weelSlider__track{
    display: flex;
    grid-gap: 54px;
    position: absolute;
    left: 50%;
    top:0;
    transform: translate(-50%, 0);
    transition: 0.55s;
}

.weelSliderItem{
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    width:577px;
    height: 687px;
}
.weelSlider__content{
    position: relative;
    height: 687px;
}

.weelSlider__pool .weelSlider__track{
    top:-285px
}

.weelSlider__pool .weelSlider__content{

    height: 545px;
}