@import url(./root.css);
.firstscreen{
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 463px;
    padding-top: 160px;
}
.firstscreen__big{
    height: 609px;
}
.firstscreen__bg{
    background: linear-gradient(180deg, rgba(10, 22, 41, 0.85) -7.39%, rgba(24, 44, 77, 0) 169.05%);
    position: absolute;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    z-index: 1;
}
.firstscreen__bred,
.firstscreen__bred a{
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.015em;
    color: #FFFFFF;

}
.firstscreen__title h1{
    font-weight: 800;
    font-size: 70px;
    line-height: 82px;
    letter-spacing: 0.015em;
    font-feature-settings: 'swsh' on;
    color: #FFFFFF;
    max-width: 80%;
}
.firstscreen .container{
    position: relative;
    z-index: 2;
}
.bred__space{
    padding: 0 12px;
}
.firstscreen .firstscreen__title{
   margin-top: 43px;
}
.firstscreen__big .firstscreen__title{
    margin-top: 93px;
 }
.medicationCont__blockSuber{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.firstscreen__btn a {
    padding: 18px 22px;
    background: #F5D7BE;
    font-weight: bold;
    font-size: 18px;
    line-height: 149.9%;
    color: #182C4D;
    
}
.firstscreen__btn {
    margin-top: 35px;
}
.firstscreen__desc{
    font-size: 16px;
    line-height: 24px;
    color:white;
    padding-top: 30px;
}

.firstscreen__desc p:not(:last-child){
    margin-bottom: 10px;
    max-width: 890px;
}
.restarAbout__pic{
    width: 100%;
    background-size: cover;
    background-position: center;
}
.restarAbout__rightPic{
    height: 715px;
}

.restarAbout__txt{
    font-size: 16px;
    line-height: 24px;
    padding-top: 50px;
}
.restarAbout__txt p:not(:last-child){
    margin-bottom: 10px;
}
.restarAbout{
    padding-top: 78px;
}
.restarAbout__txtPic{
    height: 625px;
    margin-top: 70px;
}


/* restarMenu */

.restarMenu{
    margin-top: 50px;
}
.faq__cont{
    position: relative;
}
.faq__blockTop{
    display: flex;
    justify-content: space-between;
    padding: 26px 0px;
    padding-left: 15px;
    cursor: pointer;
    align-items: center;
}
.faq__blockTop h3{
    font-size: 27px;
    line-height: 40px;
    letter-spacing: 0.015em;
    font-feature-settings: 'swsh' on;
}
.faq__blockTopPic svg{
    transform: rotate(0);
    transition: 0.4s;
}
.faq__block{
    border-bottom: 1px solid #807468;
}
.faq__block:not(:last-child){
    margin-bottom: 20px;
}
.faq__blockDesc p{
    font-weight: bold;
    font-size: 17px;
    line-height: 24px;
    max-width: 90%;
    padding-left: 20px;
    padding-top: 10px;
}
.faq__bg {
    position: absolute;
    bottom: -45px;
    right: -30px;
}
.faq__blockDesc{
    overflow: hidden;
    height: 0;
    transition-duration: 0.3s;
}

.weelSlider__track{
    display: flex;
    grid-gap: 54px;
    position: absolute;
    left: 50%;
    top:0;
    transform: translate(-50%, 0);
    transition: 0.55s;
}

.weelSliderItem{
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    width:577px;
    height: 687px;
    cursor: pointer;
}
.weelSlider__content{
    position: relative;
    height: 687px;
}

.weelSlider__pool .weelSlider__track{
    top:-285px
}

.weelSlider__pool .weelSlider__content{

    height: 545px;
}

.formline{
    background:var(--color-blue);
    padding-top: 95px;
    padding-bottom: 97px;
}
.formline__form form{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.formline__form,
.formline__form input{
    color: white;
}
.formline h2{
    font-size: 48px;
    line-height: 71px;
    color: var(--color-accent);
}
.formline__form{
    padding-top: 50px;
}
.formline__form label p{
    margin-bottom: 25px;
}
.formline__form input{
    height: 65px;
}
.formline .container{
    position: relative;
}

.formline__bg{
    position: absolute;
    bottom: -50px;
}
.formline__bg1{
    left: -180px;
}
.formline__bg2{
    right: -130px;
}

.nice__sliderControl {
    display: flex;
    justify-content: flex-end;
    grid-gap: 15px;
}

.nice__sliderblockPic{
    height: 387px;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.nice__sliderblockWrap{
    width: 592px;
    position: relative;
    
    transition: 0.55s;

    opacity: 0.3;
}
.nice__sliderblockWrap--select{
    opacity: 1;
}
.nice__sliderblockWrap:not(:last-child){
    margin-right: 32px;
}
.nice__sliderblock{
    width: 592px;
    position: absolute;
    background: #FAF0E6;
    border-radius: 0px 0px 8px 8px;
    transition: 0.3s;
    transition-delay: 0.105s;
    transform: translate(0,0);
}

.nice__sliderTrackWrap{
    height: 720px;
    padding-top: 30px;
}
.nice__sliderblockContent{
    padding: 35px;
}
.nice__sliderblockContent h4{
    font-weight: bold;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.015em;
    font-feature-settings: 'swsh' on;
    color: #242F37;
}
.nice__sliderblockContent p{
    font-size: 16px;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.nice__sliderMoreLink{
    font-weight: bold;
    font-size: 18px;
    line-height: 189.9%;
    color: #162D4E;
    position: relative;
}

.nice__sliderMoreLink::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 100%;
    bottom: 3px;
    border-bottom: 2px dotted black;
}
.nice__sliderTrack{
    display: flex;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
.nice__sliderTrackWrap{
    position: relative;
}

.niceBlock--hidden{
    width: 0px !important;
    margin-right: 0 !important;
    transition-delay: 0.08s;
}

.niceBlock--hidden .nice__sliderblock{
    opacity: 0;
    transform: translate(0, 100px);
    transition-delay: 0s;
}

.number{
    background:#FAF0E6;
    padding-top: 90px;
    padding-bottom: 175px;
}
.number__txt p{
    font-size: 16px;
    line-height: 24px;
    max-width: 1110px;
    margin-top: 38px;
}
.number__slider{
    width: 100%;
    overflow: hidden;
}
.number__sliderTrack{
    display: flex;
    transition: 0.4s;
}
.number__sliderSec{
    display: flex;
    justify-content: space-between;
    width: 1230px;
    grid-gap: 50px;
    
}
.number__sliderSec{
    margin-right: 20px;
}

.number__sliderItem{
    width: 592px;
    height: 768px;
    background: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.number__sliderPic{
    width: 100%;
    height: 340px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.number__sliderTitle h3{
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    font-feature-settings: 'swsh' on;
    text-align: center;
    margin-top: 36px;
}
.number__sliderSec .number__sliderItem{
    transform: scale3d(0.9,0.9,0.9);
    opacity: 0.7;
    transition: 0.5s;
}
.number__sliderSec--carrent .number__sliderItem{
    transform: scale3d(1,1,1);
    opacity: 1;
}
.number__info{
    padding: 0 85px;
}
.number__infoItem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.number__infoDesc{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.number__btn{
    background: var(--color-blue);
    color: white;
    width: 100%;
    font-weight: normal;
    margin-top: 15px;
}

.number__txtUnderBtn{
    font-size: 16px;
    line-height: 149.9%;
    color: var(--color-blue);
    text-align: center;
    margin-top: 10px;
}
.number__sliderStartsItem{
    height: 9px;
    width: 9px;
    background:var(--color-accent);
    transform: rotate(45deg);

}
.number__sliderStarts{
    display: flex;
    justify-content: space-between;
    max-width: 110px;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

.number__infoPic{
    height: 26px;
}
.number__slider{
    margin-top: 58px;
}

.popupTxtWrap{
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.85);
    z-index: 100;
}
.popupTxt{
    max-width: 700px;
    width: 100%;
    min-height: 600px;
    background: #FAF0E6;
    padding: 30px 25px;
    border-radius: 8px;
    position: relative;
}
.popupTxt__exit{
    position: absolute;
    right: 20px;
    top: 31px;
    cursor: pointer;
    z-index: 3;
}
.popupTxtContent{
    position: relative;
    z-index: 2;
}
.popupEmtyBlock{
    height: 50px;
    width: 50px;
    float: right;
   
}
.popupTxtContent p{
    font-size: 19px;
    line-height: 1.4em;
}
.popupTxtContent h3{
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 15px;
    color: #162D4E;
}
.popupTxtContent__bg{
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    opacity: 0.1;
}

.moreBtn{
    display: none;
}