@import url(./root.css);

*{
    box-sizing: border-box;
    outline: none;
    resize: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
    -moz-appearance: none; 
}
input[type=number] {
    -moz-appearance:textfield;
}

.container{
    max-width: 1256px;
    padding: 0 20px;
    margin: 0 auto;
}
.main__btn{
    height: 62px;
    font-weight: bold;
    font-size: 16px;
    line-height: 149.9%;
    border:none;
    cursor: pointer;
}
body{
    font-family: var(--font-cicle);
    
}
.allWraper{
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

.main__input{
    background: transparent;
    border:none;
    border-bottom: 2px solid var(--color-accent);
    height: 42px;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.015em;
    text-transform: uppercase;

}
h2{
    font-weight: 800;
    font-size: 32px;
    line-height: 47px;
    letter-spacing: 0.015em;
    font-feature-settings: 'swsh' on;
    color: var(--color-blue);
}
/* header */
.header{
    position: fixed;
    width: 100%;
    font-family: var(--font-ubuntu);
    padding-top: 38px;
    z-index: 50;
    transition: 0.35s;
    padding-bottom: 16px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__soc{
    display: flex;
    justify-content: space-between;
    max-width: 157px;
    width: 100%;
    padding-top: 5px;
}
.header__contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 435px;
    width: 100%;
}
.header__nav ul{
    display: flex;
    align-items: center;
}
.header__navMenu{
    display: flex;
    align-items: center;
}

.header__navItem{
    font-size: 19px;
    line-height: 149.9%;
    color: white;
    cursor: pointer;
}
.header__navItem:not(:last-child){
    margin-right: 110px;
}
.header__navMenu p{
    margin-left: 14px;
}
.header__phone a{
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.25em;
    color: white;
}
.header__phone p{
    margin-left: 10px;
}
.dots__lineItem{
    height: 9px;
    width: 9px;
    background:var(--color-accent);
    transform: rotate(45deg);
}
.dots__lineItem:not(:last-child){
    margin-right: 23px;
}
.dots__line{
    display: flex;
    align-items: center;
    padding-top: 14px;
}

.header__mini{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    padding-top: 21px;
    background: var(--color-blue);
}

/* footer */

.footer{
    background: var(--color-blue);
    padding-top: 60px;
    color: white;
    padding-bottom: 96px;
}
.footer a{
    color: white;
}
.footer .container{
    max-width: 1327px;
}
.footer__top{
    display: flex;
    justify-content: space-between;
}
.footer__contacts{
    max-width: 217px;
}
.footer__nav{
    padding-top: 9px;
}
.footer__nav li:not(:last-child){
    margin-bottom: 10px;
}
.footer__nav h5{
    padding-bottom: 4px;
    font-weight: bold;
    font-size: 15px;
    line-height: 129.9%;
}
.footer__nav li{
    font-weight: 350;
    font-size: 14px;
    line-height: 109.9%;
    color: #FFFFFF;
}

.footer__contactsTitle{
    display: flex;
    color:#BC9876;
    margin-bottom: 1px;
}
.footer__contactsTitle:not(:first-child){
    margin-top: 20px;
}
.footer__contactsTitle p{
    margin-left: 6px;
}


.footer__contacts{
    font-size: 16px;
    line-height: 152.9%;
}

.footer__contactsSoc{
    display: flex;
    grid-gap: 20px;
}

.footer__bottomWrap p, .footer__bottomWrap a{
    color: white;
    font-size: 14px;
}
.footer__bottomWrap a{
    text-decoration: underline;
}
.footer__bottomWrap{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
}

/* mainMenu */

.mainMenu{
    position: fixed;
    width: 100%;
    height: 0%;
    background: var(--color-blue);
    top:0;
    left: 0;
    z-index: 10;
    color:white;
    overflow: hidden;
    transition: 0.8s;
}
.mainMenu .container{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    justify-content: space-between;
    position: relative;
}
.mainMenu__bg{
    position: absolute;
    bottom: 70px;
}
.mainMenu__bg1{
    left: -200px;
}
.mainMenu__bg2{
    right: -130px;
}
.mainMenu__bottom{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 55px;
    justify-content: space-between;
}
.mainMenu__bottomElem{
    display: flex;

}
.mainMenu__adress{
    max-width: 330px;
}
.mainMenu__ico{
    margin-right: 20px;
}
.mainMenu__bottomElem address,
.mainMenu__bottomElem a{
    color: #FAF0E6;
    font-family: Circe;

    font-size: 18px;
    line-height: 24px;

    letter-spacing: 0.015em;
}
.mainMenu__content{
    padding-top: 22vh;
}
.mainMenu__block h3{
    font-family: Circe;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 44px;
    letter-spacing: 0.015em;
    color: #F5D7BE;
    font-feature-settings: 'swsh' on;
}
.mainMenu__pic{
    height: 135px;
}
.mainMenu__list{
    padding-top: 40px;
}
.mainMenu__list ul{
    display: flex;
    flex-direction: column;
    grid-row-gap: 37px;
    grid-column-gap: 107px;
    max-height: 350px;
    flex-wrap: wrap;
    max-width: 800px;
}
.mainMenu__list li{
    max-width: 290px;
}
.mainMenu__list a{
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.015em;
    color: #FFFFFF;
    transition: 0.3s;
}
.mainMenu__list a:hover{
    color: #E3AF84;
}
.mainMenu__content{
    display: flex;
    grid-column-gap: 60px;
}
.goCenter{
    transition-duration: 0.42s;
    transition-delay: 0.08s;
}

strong{
    font-weight: bold;
}

.hoverBlock{
    transform: translate(0,0);
    transition: 0.3s;
}
.hoverBlock:hover{
    filter: drop-shadow(0px 15px 13px rgba(0, 0, 0, 0.13));
    transform: translate(0,-3px);
}

.lightBtn{
    transform: translate(0,0);
    transition: 0.3s;
    cursor:pointer;
}
.lightBtn:hover{
    background: #E0AE85;
    color: #182C4D;
}
.lightBtn:active{
    background: #D08C53;
    color:white;
}

.blueBtn{
    transform: translate(0,0);
    transition: 0.3s;
    cursor:pointer;
}
.blueBtn:hover{
    background: #34496B;
    color: white;
}
.blueBtn:active{
    background: #0D2244;
    color:white;
}

.blueTxt{
    transform: translate(0,0);
    transition: 0.3s;
    cursor:pointer;
}
.blueTxt:hover{
    color: #34496B;
}
.blueTxt:active{
    color: #0D2244;
}

.lightTxt{
    transform: translate(0,0);
    transition: 0.3s;
    cursor:pointer;
}
.lightTxt:hover{
    color: #E0AE85;
}
.lightTxt:active{
    color: #D08C53;
}
.formline__form {
    position: relative;
    z-index: 2;
}

.popupWrap{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.33);
    z-index: 100;
}

.popupContent__wrap{
    background: #182C4D;
    padding: 65px 170px 120px 100px;
    position: relative;
}

.popup__formContent h3{
    font-weight: 800;
    font-size: 32px;
    line-height: 47px;
    letter-spacing: 0.015em;
    color: #F5D7BE;
}

.popup__formContent form{
    display: flex;
    flex-direction: column;
    padding-top: 25px;
    grid-gap: 35px;
    color: white
}
.popup__formContent{
    padding-top: 35px;
}
.popup__formContent button{
    width: 100%;
    max-width: 384px;
    background: #F5D7BE;
}
.popup__formContent input{
    color: white;
}
.popupContent{
    position: relative;
}
.popupContent__bg{
    position: absolute;
    z-index: 0;
    bottom: 20px;
    left: 300px;
}

.popup__formContent{
    position: relative;
    z-index: 1;
}

.popup__exitBtnPic svg{
    cursor: pointer;
}
.footer__zavod{
    padding-top: 30px;
}