*{
    box-sizing: border-box;
    outline: none;
    resize: none;
}
input[type=date]::-webkit-calendar-picker-indicator {
    opacity: 0;
  }
  input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none; 
}
:root{
    --color-blue: #182C4D;
    --color-accent: #F5D7BE;
    --font-cicle: 'Circe', sans-serif;
    --font-ubuntu:'Ubuntu', sans-serif;
}


.container{
    max-width: 1256px;
    padding: 0 20px;
    margin: 0 auto;
}

body{
    font-family: var(--font-cicle);
    
}

.main__input{
    background: transparent;
    border:none;
    border-bottom: 2px solid var(--color-accent);
    height: 42px;
    font-size: 18px;
    line-height: 35px;
    letter-spacing: 0.015em;
    text-transform: uppercase;

}
h2{
    font-weight: 800;
    font-size: 32px;
    line-height: 47px;
    letter-spacing: 0.015em;
    font-feature-settings: 'swsh' on;
    color: var(--color-blue);
}
/* header */
.header{
    position: fixed;
    width: 100%;
    font-family: var(--font-ubuntu);
    padding-top: 38px;
    z-index: 50;
    transition: 0.35s;
    padding-bottom: 16px;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__soc{
    display: flex;
    justify-content: space-between;
    max-width: 157px;
    width: 100%;
    padding-top: 5px;
}
.header__contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 435px;
    width: 100%;
}
.header__nav ul{
    display: flex;
    align-items: center;
}
.header__navMenu{
    display: flex;
    align-items: center;
}
.header__navItem{
    font-size: 19px;
    line-height: 149.9%;
    color: white;
    
}
.header__navItem:not(:last-child){
    margin-right: 110px;
}
.header__navMenu p{
    margin-left: 14px;
}
.header__phone a{
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 1.25em;
    color: white;
}
.header__phone p{
    margin-left: 10px;
}
.dots__lineItem{
    height: 9px;
    width: 9px;
    background:var(--color-accent);
    transform: rotate(45deg);
}
.dots__lineItem:not(:last-child){
    margin-right: 23px;
}
.dots__line{
    display: flex;
    align-items: center;
    padding-top: 14px;
}

.header__mini{
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    padding-top: 21px;
    background: var(--color-blue);
}
/* firstscreen */

.firstscreen{
    background: url(../source/firtscreen/bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 1000px;
    position: relative;
    
}
.firstscreen__bg{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}
.firstscreen__bgItem{
    position: absolute;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    transition: 0.4s;
    overflow: hidden;
}
.firstscreen__bgItem video{
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
}
.firstscreen .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 317px;
}
.firstscreen__logo{
    position: relative;
 
}
.firstscreen__underBg{
    position: relative;
}
.firstscreen__logo::after{
    content: '';
    position: absolute;
    height: 379px;
    width: 379px;
    background:var(--color-accent);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(45deg);
    z-index: 1;
}
.firstscreen__logo svg{
    position: relative;
    z-index: 2;
}

.firstscreen__form{
    background:var(--color-blue);
    max-width: 1324px;
    width: 100%;
    margin: 0 auto;
    margin-top: 220px;
    height: 141px;
    padding: 0 81px;
}
.main__btn{
    height: 62px;
    font-weight: bold;
    font-size: 16px;
    line-height: 149.9%;
    border:none;
    cursor: pointer;
}
.firstscreen__form form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.firstscreen__form label p{
    font-weight: 300;
    font-size: 16px;
    color: var(--color-accent);
    margin-bottom: 6px;
}
.firstscreen__btn{
    background:var(--color-accent);
    max-width: 220px;
    width: 100%;
  
}
.firstscreen__form input{
    color:white;
}

/* pytevki */
.pytevki{
    padding-top: 163px;
    padding-bottom: 105px;
}
.pytevki__controlWrap{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 8px;
}
.pytevki__picControl:not(:last-child){
    margin-right: 15px;
}
.pytevki__picControl{
    cursor: pointer;
}
.pytevki__picContent{
    display: flex;
    justify-content: space-between;
    grid-gap: 10px;
}
.pytevki__content p{
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 9px;
    max-width: 1100px;
}
.pytevki__content{
    padding-top: 36px;
}
.pytevki__pic{
    margin-top: 28px;
    margin-bottom: 50px;
}
.pytevki__picItem img{
    opacity: 0;
}
.pytevki__picItem{
    overflow: hidden;
    max-width: 382px;
    width: 100%;
    height: 450px;
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
    display: none;
}
/* number */

.number{
    background:#FAF0E6;
    padding-top: 90px;
    padding-bottom: 175px;
}
.number__txt p{
    font-size: 16px;
    line-height: 24px;
    max-width: 1110px;
    margin-top: 38px;
}
.number__slider{
    width: 100%;
    overflow: hidden;
}
.number__sliderTrack{
    display: flex;
}
.number__sliderSec{
    display: flex;
    justify-content: space-between;
    width: 1220px;
    grid-gap: 40px
}
.number__sliderSec{
    margin-right: 40px;
}
.number__sliderItem{
    width: 592px;
    height: 768px;
    background: white;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}
.number__sliderPic{
    width: 100%;
    height: 340px;
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
}
.number__sliderTitle h3{
    font-weight: 800;
    font-size: 32px;
    line-height: 40px;
    font-feature-settings: 'swsh' on;
    text-align: center;
    margin-top: 36px;
}
.number__info{
    padding: 0 85px;
}
.number__infoItem{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.number__infoDesc{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}
.number__btn{
    background: var(--color-blue);
    color: white;
    width: 100%;
    font-weight: normal;
    margin-top: 15px;
}

.number__txtUnderBtn{
    font-size: 16px;
    line-height: 149.9%;
    color: var(--color-blue);
    text-align: center;
    margin-top: 10px;
}
.number__sliderStartsItem{
    height: 9px;
    width: 9px;
    background:var(--color-accent);
    transform: rotate(45deg);

}
.number__sliderStarts{
    display: flex;
    justify-content: space-between;
    max-width: 110px;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

.number__infoPic{
    height: 26px;
}
.number__slider{
    margin-top: 58px;
}



/* searchnum */
.searchnum{
    background:var(--color-blue);
    padding-top: 95px;
    padding-bottom: 97px;
}
.searchnum__form form{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.searchnum__form,
.searchnum__form input{
    color: white;
}
.searchnum h2{
    font-size: 48px;
    line-height: 71px;
    color: var(--color-accent);
}
.searchnum__form{
    padding-top: 50px;
}
.searchnum__form label p{
    margin-bottom: 25px;
}
.searchnum__form input{
    height: 65px;
}
.firstscreen__btn{
    max-width: 280px;
    margin-bottom: 5px;
}

/* typepyt */

.typepyt{
    padding-top: 165px;
    padding-bottom: 160px;
}

.typepyt__txt{
    font-size: 16px;
    line-height: 24px;
    margin-top: 30px;
    max-width: 1100px;
}
.typepyt__all a{
    font-weight: bold;
    font-size: 18px;
    line-height: 189.9%;
    color: #D69A69;
    position: relative;
}
.typepyt__all a::after{
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #D69A69;
}
.typepyt__content{
    background: #FAF0E6;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    height: 621px;
}
.typepyt__pic{
    background-size:cover;
    background-repeat:no-repeat;
    height: 100%;
    max-width: 592px;
    width: 100%;
    overflow: hidden;
}
.typepyt__pic img{
    display: none;
}

.typepyt__all{
    padding-top: 28px;
}
.typepyt__content{
    margin-top: 53px;
}
.typepyt__info{
    max-width: 575px;
    width: 100%;
}
.typepyt__controls{
    display: flex;
    justify-content: flex-end;
    padding-right: 17px;
    padding-top: 25px;
}
.typepyt__control:not(:last-child){
    margin-right: 25px;
}
.typepyt__infoWrap h3{
    font-weight: 800;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0.015em;
    font-feature-settings: 'swsh' on;
}
.typepyt__infoWrap{
    padding-top: 10px;
    padding-right: 20px;
    color: #2C3039;
    display: none;
}
.typepyt__infoWrap p{
    font-size: 16px;
    line-height: 24px;
    color: #2C3039;
    margin-top: 12px;
    max-width: 800px;
}

.typepyt__infoWrap h4{
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    margin-top: 31px;
}
.typepyt__infoList{
    font-size: 16px;
    line-height: 24px;
    padding-top: 15px;
}
.typepyt__infoList li:not(:last-child){
    margin-bottom: 11px
}
.typepyt__add{
    margin-top: 45px;
    background: var(--color-blue);
    height: 57px;
    color: white;
    max-width: 247px;
    width: 100%;
}

/* lechenie */

.lechenie{
    background: url(../source/lechenie/bg.jpg);
    height: 686px;
    
}
.lechenie .container{
    display: flex;
    align-items: center;
    height: 100%;
}
.lechenie__content{
    color: #F5D7BE;
    max-width: 710px;
    padding-bottom: 0px;
}
.lechenie__content h2{
    color: #F5D7BE;
}
.lechenie__content p{
    font-size: 16px;
    line-height: 24px;
    margin-top: 20px;
}

.lechenie__btn{
    background: var(--color-accent);
    max-width: 236px;
    width: 100%;
    height: 47px;
    margin-top: 117px;
}

/* restaran */

.restaran{
    padding-top: 158px;
    padding-bottom: 90px;
}

.restaran__txt{
    padding-top: 40px;
    font-size: 16px;
    line-height: 24px;
}
.restaran__txt p:not(:last-child){
    margin-bottom: 8px;
}
.restaran__controls{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 20px;
}
.restaran__control:first-child{
    margin-right: 10px;
}
.restaran___picItem{
    width: 100%;
    height: 454px;
    overflow: hidden;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}
.restaran___picItem img{
    opacity: 0;
}
/* rest */
.rest{
    padding-top: 125px;
    background: #FAF0E6;
    padding-bottom: 160px;
}
.rest__txt{
    font-size: 16px;
    line-height: 24px;
    margin-top: 36px;
    max-width: 1110px;
}
.rest__contentBlock{
    max-width: 384px;
    width: 100%;
}
.rest__contentPic{
    width: 100%;
    height: 436px;
    background-repeat: no-repeat;
    background-size: cover;
}
.rest__content{
    padding-top: 40px;
    display: flex;
    justify-content: space-between
}

.rest__content h4{
    font-weight: 800;
    font-size: 19px;
    line-height: 28px;
    letter-spacing: 0.015em;
    font-feature-settings: 'swsh' on;
    margin-top: 13px;
}

/* footer */

.footer{
    background: var(--color-blue);
    padding-top: 60px;
    color: white;
    padding-bottom: 96px;
}
.footer a{
    color: white;
}
.footer .container{
    max-width: 1327px;
}
.footer__top{
    display: flex;
    justify-content: space-between;
}
.footer__contacts{
    max-width: 217px;
}
.footer__nav{
    padding-top: 9px;
}
.footer__nav li:not(:last-child){
    margin-bottom: 10px;
}
.footer__nav h5{
    padding-bottom: 4px;
    font-weight: bold;
    font-size: 15px;
    line-height: 129.9%;
}
.footer__nav li{
    font-weight: 350;
    font-size: 14px;
    line-height: 109.9%;
    color: #FFFFFF;
}

.footer__contactsTitle{
    display: flex;
    color:#BC9876;
    margin-bottom: 1px;
}
.footer__contactsTitle:not(:first-child){
    margin-top: 20px;
}
.footer__contactsTitle p{
    margin-left: 6px;
}


.footer__contacts{
    font-size: 16px;
    line-height: 152.9%;
}

.footer__contactsSoc{
    display: flex;
    grid-gap: 20px;
}

.footer__bottomWrap p, .footer__bottomWrap a{
    color: white;
    font-size: 14px;
}
.footer__bottomWrap a{
    text-decoration: underline;
}
.footer__bottomWrap{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
    max-width: 900px;
}