@import url(../root.css);


.roomInc{
    background: #FAF0E6;
    padding-top: 70px;
    padding-bottom: 350px;
}
.roomInc__top{
    font-size: 16px;
    line-height: 24px;
    max-width: 70%;
    padding-bottom: 60px;
}
.roomInc__cont h3{
    font-weight: 800;
    font-size: 27px;
    line-height: 40px;
    letter-spacing: 0.015em;
    font-feature-settings: 'swsh' on;
    color: #162D4E;
}

.roomInc__contBlockPic{
    height: 104px;
    width: 104px;
    background: #F5D7BE;
    transform: rotate(-45deg);
    display: flex;
    align-items: center;
    justify-content: center
}
.roomInc__contBlockPic svg{
    transform: rotate(45deg);
}
.roomInc__contBlocks{
    padding-top: 56px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
   
}
.roomInc__contBlock{
     display: flex;
    flex-direction: column;
    align-items: center;
   
   
}
.roomInc__contBlockTxt {
    padding-top: 63px;
}
.roomInc__contBlockTxt h4{
    font-size: 21px;
    line-height: 31px;
    letter-spacing: 0.015em;
    font-feature-settings: 'swsh' on;
    color: #162D4E;
    text-align: center;
}