@import url(../root.css);

.medservice__controls{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 5px;
}
.medservice__control:first-child{
    margin-right: 10px;
}
.medservice___picItem{
    width: 100%;
    height: 380px;
    overflow: hidden;
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    display: none;
}
.medservice___picItem img{
    opacity: 0;
}
.medservice__content{
    display: grid;
    grid-template-columns: 357px 1fr;
    grid-column-gap: 59px;
}
.medservice__nav{
    border-right: 1px solid #CDDDEA;
    max-width: 400px;
    width: 100%;
    padding-top: 72px;
    padding-right: 50px;
}
.medservice__navItem p{
    margin-left: 16px;
}
.medservice__navItem a{
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.015em;
    color: #162D4E;
}
.medservice__navItem{
    opacity: 0.9;
}
.medservice__navItem .medservice__navSelect{
    opacity: 0.5;
}
.medservice__nav-active{
    opacity: 1;
}
.medservice__nav-active .medservice__navSelect{
    opacity: 1;
}
.medservice__nav-active a{
    font-weight: bold;
}
.medservice___pic{
    width: 100%;
    overflow: hidden;
}
.medservice___picItem{
    max-width: 100%;
}
.medservice__sections{
    width: 100%;
    overflow: hidden;
    padding-top: 61px;
    padding-bottom: 156px;
}

.medservice__descTxt p{
    font-size: 16px;
    line-height: 24px;
    color: #000000;
}
.medservice__desc{
    padding-top: 58px;
}
.medservice__descTable ul{

}
.medservice__listItem:not(:last-child){
    margin-bottom: 12px;
   
}
.medservice__listItem{
     font-size: 16px;
    line-height: 24px;
}
.medservice__navItem:not(:last-child){
    margin-bottom: 14px;
}
